Binaries
DerivedDataCache
Intermediate
Saved
Content
.vscode
.vs
/.idea
/ProjectSettings/RiderScriptEditorPersistedState.asset
*.sln.DotSettings*
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace